body {
  font-family: Arial, Helvetica, sans-serif;
  /* background: linear-gradient(#e66465, #9198e5); */
  background: #F0F8FF;
  /* background-attachment: fixed; */
  color: #05075A;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

a {
  color: #05075A;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
  color: #e66465;
}

.show {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  width: 500px;
}

footer {
  display: none;
  justify-content: center;
  margin: 1em;
}

footer > h2 {
  border-top: 2px solid #6A75EC;
  width: 550px;
}

#quiz-start {
  border: 2px dashed #9198e5;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
}

#quiz-start > h1 {
  margin: 0;
}

#quiz-questions {
  border: 2px dashed #9198e5;
  border-radius: 25px;
  padding: 20px;
}

#quiz-end {
  border: 2px dashed #9198e5;
  border-radius: 25px;
  padding: 20px;
}

input {
  margin: 1em;
  text-transform: uppercase;
}

ol {
  padding-inline-start: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 100%;
}

ol > li {
  background-color: #6a75ec;
  border: 2px solid #d1d3ee;
  border-radius: 25px;
  color: #F0F8FF;
  list-style: none;
  padding: 5px 5px;
  margin: 5px 5px;
  text-align: center;
}

a:hover {
  color: #0A0CA1;
  cursor: pointer;
  text-shadow: 1px 1px #D1D3EE;

}

li:hover {
  background-color: #858eeb;
  cursor: pointer;
  text-shadow: 1px 1px #d1d3ee;
}
